.yearlyWinnersListComponent{
  display: inline-block;
}

.descrption{
    p{
      display: inline-block;
      width: 150px;
      a{
        text-decoration: none;
        color: black;
        &:hover{
          color: darkred;
          font-weight: bolder;
        }
      }
    }
    [data-champion=true]{
      background: rgba(139, 50, 50, 0.335);
    }
  }
  
  .track, .driver{
    font-size: 22px;
    display: inline;
    margin-right: 97px;
  }
  
  .yearlyWinnerCaption{
    margin-bottom: 25px;
  }