.yearlyWinnersList{
  width: 100%;
  overflow: auto;
}

.yearlyWinnersListComponent{
  display: inline-block;
  width: 50%;
}

#descrption{
    p{
      display: inline-block;
      width: 180px;
      margin-bottom: 0;
      font-size: @listItemFontSize;
      a{
        text-decoration: none;
        color: black;
      }
      &:hover{
        color: @hoverColor;
        font-weight: 900;
        cursor: pointer;
        a{
            color: @hoverColor;
            font-weight: bolder;
        }
      }
    }
    [data-champion=true]{
      background: rgba(255, 208, 0, 0.521);
      &:hover{
        a{
        color: whitesmoke;
        }
      }
    }
  }
  
.track, .driver{
  font-size: 22px;
  display: inline-block;
  margin-right: 0;
  width: 180px;
}

.yearlyWinnerCaption{
  margin-bottom: 25px;
}

.champNote{
  margin-top: 20px;
  font-weight: bolder;
}