@import '../../main.less';
.worldChampionsList{
  width: 30%;
  margin: 20px auto;
}

.seasonYear{
  display: inline-block;
  font-size: @listItemFontSize;
  width: 50%;
  margin-bottom: 0;
  text-align: center;
}
  
.champName{
  display: inline-block;
  font-size: @listItemFontSize;
  a{
    color: black;
    &:hover{
      color: @hoverColor;
      font-weight: bolder;
    }
  }
}

.season, .winner{
  font-size: 22px;
  display: inline-block;
  width: 50%;
}

.season{
  text-align: center;
}