.yearList {
  text-decoration: none;
  text-align: center;
  height: 80px;
  font-size: 20px;
  font-weight: bolder;
  padding: 30px 0;
  margin: 0 auto;
  width: 80%;
}
.allYearsList {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.allYearsList .yearList .yearListItem {
  color: black;
}
.allYearsList .yearList:hover {
  background: #693434c4;
}
.allYearsList .yearList:hover .yearListItem {
  color: white;
}
