@color: #f5adad34;
@font: Arial, Helvetica, sans-serif;
@import './components/header/header.less';
@import './components/yearsList/yearsList.less';
@import './components/yearlyWinnersList/yearlyWinners.less';
@import './components/worldChampionsList/worldChampions.less';
@import './components/trackWinners/trackWinners.less';


.mainContainer{
    width: 65%;
    background-color: @color;
    margin: 0 auto;
    padding: 30px;
  } 