.trackWinnersComponent{
    float: right;
    width: 50%;
}

.trackWinners{
    color: snow;
}

.trackWinnersCaption{
    margin-bottom: 25px;
}

.position, .driver, .constructor{
    font-size: 22px;
    display: inline-block;
    margin-right: 0;
    width: 160px;
  }

  .trackWinnerDetails{
    p{
        display: inline-block;
        width: 160px;
        margin-bottom: 0;
    }
  }